@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию


// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1533422902779-aff35862e462?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
}
.clock {
    display: flex;
}
.clock div {
    margin: 15px;
    position: relative;
}
.clock span {
    width: 100px;
    height: 80px;
    background: rgba(255,255,255,0.8);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(1,1,1,0.3);

}
.clock .text {
    font-size: 10px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background: rgba(128, 128, 128, 0.8);
}
.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgba(128, 128, 128, 0.8);

}


// Подключение стилей отдельных блоков
@import "header";
@import "footer";

